<section class="ud-relative ud-overflow-hidden ud-bg-primary ud-py-20">
  <!-- Bg Shape -->
  <img class="ud-absolute ud-bottom-0 ud-right-0" src="./images/shape/shape-16.svg" alt="Bg Shape" />

  <div class="ud-mx-auto ud-max-w-1280 ud-relative z-10 ud-px-4 md:ud-px-8 xl:ud-px-5">
    <div class="ud-flex ud-flex-wrap md:ud-flex-nowrap md:ud-items-center md:ud-justify-between ud-gap-8">
      <div class="animate_left lg:ud-w-1/2">
        <h2 class="ud-font-semibold ud-text-3xl lg:ud-text-4xl xl:ud-text-title-xl ud-text-white ud-mb-4">
            Join with 5000+ Startups Growing with Base.
        </h2>
        <p class="ud-text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis nibh lorem. Duis sed odio lorem. In a efficitur leo. Ut venenatis rhoncus.
        </p>
      </div>
      <div class="animate_right ud-flex-shrink-0">
        <a href="#" class="ud-inline-flex ud-font-medium ud-text-black ud-bg-white ud-rounded-full ud-ease-out ud-duration-300 hover:ud-shadow-xl ud-py-3 ud-px-7.5">
            Get Started Now
        </a>
      </div>
    </div>
  </div>
</section>
