.App {
  text-align: center;
  border: 2px solid black;
  padding:5px;
  background-color: #FF0000;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Logo-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures the container spans the full width */
}

.App-logo {
  height: 40vmin; /* Adjust the size of your logo as needed */
  pointer-events: none;
  animation : none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
