<section class="relative overflow-hidden bg-primary py-20">
  <!-- Bg Shape -->
  <img class="absolute bottom-0 right-0" src="./images/shape/shape-16.svg" alt="Bg Shape" />

  <div class="mx-auto max-w-1280 relative z-10 px-4 md:px-8 xl:px-5">
    <div class="flex flex-wrap md:flex-nowrap md:items-center md:justify-between gap-8">
      <div class="animate_left lg:w-1/2">
        <h2 class="font-semibold text-3xl lg:text-4xl xl:text-title-xl text-white mb-4">
            Join with 5000+ Startups Growing with Base.
        </h2>
        <p class="text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis nibh lorem. Duis sed odio lorem. In a efficitur leo. Ut venenatis rhoncus.
        </p>
      </div>
      <div class="animate_right flex-shrink-0">
        <a href="#" class="inline-flex font-medium text-black bg-white rounded-full ease-out duration-300 hover:shadow-xl py-3 px-7.5">
            Get Started Now
        </a>
      </div>
    </div>
  </div>
</section>
