<footer>
  <div class="mx-auto max-w-1390 px-4 md:px-8 2xl:px-0">
    <!-- Footer Top -->
    <div class="py-20 lg:py-25">
      <div class="flex flex-wrap lg:justify-between gap-8 lg:gap-0">

        <!-- Social Media Links -->
        <div class="animate_top w-1/2 lg:w-1/4">
          <!-- Social Media Icons here -->
        </div>

       
      </div>
    </div>
    <!-- Footer Top -->

    <!-- Footer Bottom -->
    <div class="border-t border-strokedark dark:border-stroke flex flex-wrap flex-col lg:flex-row items-center justify-center lg:justify-between gap-5 lg:gap-0 py-7.5">
      <!-- Footer Bottom Content here -->
    </div>
    <!-- Footer Bottom -->
  </div>
</footer>
